@import './bootstrapComponents';

/* Breakpoints (Bootstrap defaults) */
$xsBreakpoint: map-get($grid-breakpoints, 'sm') - 1;
$smBreakpoint: map-get($grid-breakpoints, 'sm');
$mdBreakpoint: map-get($grid-breakpoints, 'md');
$lgBreakpoint: map-get($grid-breakpoints, 'lg');
$xlBreakpoint: map-get($grid-breakpoints, 'xl');

body {
  background-color: #fff;
}

.container2 {
  max-width: 500px;
  margin: 100px auto;
  @media (max-width: #{$xsBreakpoint}) {
    margin: 50px auto;
  }
}

.card {
  margin-top: 50px;

  .list-group-item {
    &:hover {
      .deleteTask {
        display: block;
      }
    }

    .deleteTask {
      top: 12px;
      right: 20px;
      display: none;
      font-size: 10px;
      position: absolute;
      text-transform: uppercase;
    }
  }

  .card-footer {
    .float-left {
      line-height: 25px;
    }

    button {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}
